body{
    width: 70%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    section{
        width: 70%;

        h2{

        }
        img{
            width: 50%;
        }
    }
    article {
        img{
            width: 50%;
        }
    }
    footer{
        p{
                
        }
    }
}
