@use 'base';
@mixin box-shadow($shadowspecs)
{
    -webkit-box-shadow: $shadowspecs;
    -moz-box-shadow: $shadowspecs;
    box-shadow: $shadowspecs;
}
$shadowspecs: 10px 10px 19px rgba(208, 27, 27, 0.5);
$size: 3em;

body
{
    color: black;
    width: 70%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    nav{
        margin-top: 12%;
        a{
            text-decoration: none;
            color: black;
            margin-left: 5%;
            padding: 2%;
        }
        .blue{
            color: darkblue;
        }
        .red{
            color: darkred;
        }
        a:hover{
            background-color: black;
            color: white;
        }
    }
    section{
        width: 70%;

        h2{
            background-color: cornflowerblue;
            @include box-shadow($shadowspecs);
        }
        img{
            width: 50%;
        }
    }
    article {
        h2{
            background-color: cornflowerblue;
            @include box-shadow($shadowspecs);
        }
        img{
            width: 50%;
        }
        p.box{
            @include box-shadow($shadowspecs);

        }
    }
    footer{
        background-color: cornflowerblue;
        padding: $size;
    }
}
@media only screen and (max-width: 1000px){
body {
    width: 89%;
}    
}